@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

/* Colors */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --red: #ab3c3c;
    --dark-blue-green: #314b57;
}

/* Headings Font */
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
    font-weight: 700; /* Bold */
}

/* Paragraph and general text */
body, p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400; /* Regular */
    line-height: 1.6; /* Space for better reading */
}



.servicesAndMapContainer{
    display: flex;
    background-color: var(--dark-blue-green);
    gap: 18px;
    padding-left: 17px;
    color: rgb(226, 10, 10);
    letter-spacing: 0.3px;
    font-size: 12px;
}

.titleServices{
    padding-top: 3.5px;
    
}

.servicesContainer{
    display: flex;
    gap: 20px;
    padding-top: 5px;
    
}

.servicesImg{
    height: 173px;
    width: 173px;
}

.service{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.serviceName{
    font-size: 18px;
    padding-top: 7.5px;
}

.map{
    margin-left: 7px;
}