@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

/* Colors */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --red: #ab3c3c;
    --dark-blue-green: #314b57;
}

a {
    text-decoration: none;
}


/* Headings Font */
h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 700; /* Bold */
}

/* Paragraph and general text */
body, p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400; /* Regular */
    line-height: 1.6; /* Space for better reading */
}



.servicesAndMapContainer{
    display: flex;
    background-color: var(--dark-blue-green);
    gap: 18px;
    padding-left: 17px;
    color: rgb(226, 10, 10);
    letter-spacing: 0.3px;
    font-size: 12px;
}

.titleServices{
    padding-top: 3.5px;
}

.servicesContainer{
    display: flex;
    gap: 19.4px;
    padding-top: 5px;
    
}

.servicesImg{
    height: 173px;
    width: 173px;
}

.service{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.serviceName{
    font-size: 18px;
    padding-top: 7.5px;
}

.map{
    margin-left: 7.5px;
}

.ourServiceAreaTitle{
    padding-left: 18px;
    letter-spacing: -.5px;
    font-size: 52px;
}

.ourServiceImgAndParagraph{
    display: flex;
    margin-top: -4px;
    margin-left: 15px;
}

.ourServiceAreaImg{
    margin-top: 1px;
}

.ourServiceImgAndParagraphRedLinks{
    max-width: 750px;
    margin-left: 35px;
    margin-top: -2px;
    word-spacing: 2.5px;
    line-height: 1.66;
    
}

.FurnanceRepairServiceAreas{
    margin-top: 40px;
}

.FurnanceRepairServiceAreas, .AirConditioningRepairServiceAreas{
    color: var(--red);
    
} 